In [ ]:
import pandas as pd
# Deep Dive into Pandas

# DataFrame & Series

# - Series: 1D labeled array
# - DataFrame: 2D table (rows + columns)

# Series
s = pd.Series([10, 20, 30], index=['a','b','c'])
print(s)

# DataFrame
data = {'name': ['A', 'B'], 'salary':[950000, 550000]}
df = pd.DataFrame(data)
print(df)

# override df 
df = pd.read_csv("./employee_salary.csv")
print(df.shape)     # rows x columns
df.columns     # column names
df.info()      # datatype & null info
df.describe()  # summary stats for numeric columns
df.head()      # first 5 rows
df.tail()      # last 5 rows

In [ ]:
# Select column
df['base_salary']
df.base_salary    # shorthand

# Select multiple columns
df[['name', 'base_salary']]

# Select rows by index
df.iloc[0]        # first row
df.iloc[0:3]      # first 3 rows
     
# Select rows by condition
df[df['base_salary']>800000]

# Filter by condition
high_salary = df[df['base_salary']>800000]

# Multiple conditions
high_eng = df[(df['base_salary']>800000) & (df['name']=='Amit')]

# Sort
df.sort_values('base_salary', ascending=False)

print(df)

In [ ]:
# Handling Missing Data
df.isna().sum()

df['base_salary'] = df['base_salary'].fillna(df['base_salary'].mean())  # fill with mean
df.dropna(inplace=True)  # drop rows with NaN

# Transforming & Creating Columns

# Derived columns
df['total_compensation'] = df['base_salary'] + 50000

# Apply function to column
df['bonus_pct'] = df['base_salary'].apply(lambda x: x*0.05)

# Rename columns
df.rename(columns={'base_salary':'salary'}, inplace=True)

print(df)

In [ ]:
# GroupBy & Aggregations

# Average salary by department
df.groupby('name')['salary'].mean()

print(df)

# Multiple aggregations
df.groupby('name')['salary'].agg(['mean','max','min'])

In [ ]:
# Merging & Joining DataFrames

# Example DataFrames
df1 = pd.DataFrame({'id':[1,2], 'name':['A','B']})
df2 = pd.DataFrame({'id':[1,2], 'dept':['Eng','HR']})

# Merge on 'id'
merged = pd.merge(df1, df2, on='id')
print(merged)

# Pivot example: average salary by department
pivot = df.pivot_table(index='name', values='salary', aggfunc='mean')
print(pivot)

In [ ]:
# Visualization with Pandas & Seaborn
df['salary'].hist(bins=10, color='skyblue')

# Bar chart (average salary by dept)
import matplotlib.pyplot as plt
import seaborn as sns

avg_salary = df.groupby('name')['salary'].mean().reset_index()
sns.barplot(x='name', y='salary', data=avg_salary)
plt.title("Average Salary by name")
plt.show()

# scatterplot

sns.scatterplot(x='salary', y='name', data=df)
plt.show()

# correlation heatmap
# sns.heatmap(df.corr(), annot=True, cmap='coolwarm')
# plt.show()

#### Pipeline for Cleaning & Visualization

A typical workflow for EDA:

- Load data

- Inspect data (info(), describe(), isna())

- Handle missing values (fillna, dropna)

- Transform columns (apply, derived columns)

- Group / aggregate (groupby, pivot_table)

- Visualize (hist, barplot, heatmap)

- Export cleaned data (to_csv)

In [ ]:
df.to_csv("employee_salary_cleaned.csv", index=False)